  
<a href="https://linkedin.com/in/soumyak4" target="_blank">
<img align="left" src="https://img.icons8.com/ios-filled/1x/linkedin-circled--v4.gif" alt="linkedin" /></a>

<a href="https://fb.com/soumyak4" target="blank">
<img align="left" src="https://img.icons8.com/ios-filled/1x/facebook-circled--v2.gif" alt="facebook" /></a>

<a href="https://instagram.com/soumyak4" target="blank">
<img align="left" src="https://img.icons8.com/ios-filled/1x/instagram-new--v2.gif" alt="instagram" /></a>

<a href="https://t.me/SoumyaK4/" target="_blank">
<img align="left" src="https://img.icons8.com/sf-black-filled/1x/telegram.png" alt="telegram" /></a>

<a href="https://www.youtube.com/c/thefallenpoet" target="_blank">
<img align="left" src="https://img.icons8.com/ios-glyphs/1x/youtube--v2.gif" alt="youtube" /></a>

<br><a href="https://www.buymeacoffee.com/SoumyaK4" target="_blank"> 
<img align="left" src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="SoumyaK4" height="25px" width="105px"/></a>

<br><h4>&copy;<a href=https://soumyak4.github.io/> SoumyaK4 </a>| 2023</h4>
