<center>
<h3><b>&copy; 2025 <a href=https://soumyak4.in/Experiences>{{ site.title }} </a></h3></b> <br>

    <div class="icons">
    <a href="https://github.com/SoumyaK4" target="_blank" class="fab fa-github fa-2x"></a>&nbsp;
    <a href="https://youtube.com/@SoumyaK4" target="_blank" class="fab fa-youtube fa-2x"></a>&nbsp;
    <a href="https://instagram.com/SoumyaK4" target="_blank" class="fab fa-instagram fa-2x"></a>&nbsp;
    <a href="https://t.me/SoumyaK4" target="_blank" class="fab fa-telegram fa-2x"></a>
    </div>
</center>