<p>

<a href="https://linkedin.com/in/soumyak4" target="_blank">
<img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg" alt="soumyak4" height="10" width="10" /></a>

<a href="https://fb.com/soumyak4" target="blank">
<img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/facebook.svg" alt="soumyak4" height="10" width="10" /></a>

<a href="https://instagram.com/soumyak4" target="blank">
<img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/instagram.svg" alt="soumyak4" height="10" width="10" /></a>

<a href="https://www.youtube.com/c/thefallenpoet" target="_blank">
<img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/youtube.svg" alt="thefallenpoet" height="10" width="10" /></a>

<a href="https://t.me/SoumyaK4/" target="_blank">
<img align="center" src="https://cdn.iconscout.com/icon/free/png-256/telegram-2752057-2284874.png?f=avif&w=128" alt="telegram" height="10" width="10" /></a>

</p>
